
/* general */
body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: monospace;
  text-align: center;
}

/* all */
#app {
  height: 100%;
  overflow: auto;
}

/* start button */
#start {
  margin-left: calc(50% - 20vh);
  margin-top: 30vh;
  width: 40vh;
  height: 40vh;
  cursor: pointer;
  border: transparent solid 2px;
  position: relative;
  text-align: center;
}

#start > img {
  margin-top: 10%;
  width: 80%;
  height: 80%;
  display: inline-block;
}

#start:hover {
  border-color: red;
  border-radius: 100%;
}
