
/* title */
.home-title {
  margin-top: 1em;
  font-size: 2.4em;
}

/* subtitle */
.home-subtitle {
  font-size: 0.8em;
}

/* credits */
.home-credits {
  font-size: 1.5em;
  margin-bottom: 1em;
}

/* films */
.home-container {
  cursor: pointer;
  display: inline-block;
  margin: 1em 2em;
  width: 20em;
  /* margin-left: 30%; */
}

.home-container:hover .video-title {
  color: #A4D571;
}

.home-video-title {
  padding-bottom: 0.6em;
  font-size: 1em;
}

.home-video {
  width: 100%;
}
