
.racinelib-button {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.racinelib-button-icon, .racinelib-button-icon_hover {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.racinelib-button-icon_hover { display: none; }
.racinelib-button:hover .racinelib-button-icon { display: none; }
.racinelib-button:hover .racinelib-button-icon_hover { display: block; }
