
/*\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/*/
/*\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/*/
/*                                                  GENERAL                                                                                         */
/*\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/*/

.playerbar {
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--player-height);
  position: absolute;
  display: flex;
	align-items: center;
	justify-content: center;
  background-color: var(--base-transparent);
}

/*\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/*/
/*\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/*/
/*                                                  BUTTONS                                                                                         */
/*\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/*/

/* START AND END POSITIONS */
.playerbar-buttons-start { }
.playerbar-buttons-end {
  order: 999;
  display: flex;
  margin-right: 10px;
}

/* BUTTONS FORMATTING */
.playerbar-buttons-playpause, .playerbar-buttons-volume, .playerbar-buttons-fullscreen {
  width: calc(var(--player-height) / 3);
  height: calc(var(--player-height) / 3);
  margin: 10px;
}

/* HIDDEN VOLUME SLIDER */
.playerbar-buttons-volume-slider {
  display: none;
  position: absolute;
  height: 150px;
  bottom: calc(var(--player-height) - 10px);
}
.playerbar-buttons-volume-slider, .playerbar-buttons-volume-slider > div { width: 6px; }

/*\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/*/
/*\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/*/
/*                                                  TITLE                                                                                           */
/*\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/*/

.playerbar-title_container {}
.playerbar-title { font-size: 1.4em; }
.playerbar-description { font-size: .8em; }

/*\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/*/
/*\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/*/
/*                                                  TIMELINE                                                                                        */
/*\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/*/

.playerbar-timeline {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

  /* TIMELINE TEXTS */
  .playerbar-timeline-passed, .playerbar-timeline-duration {
    padding: 1em 2em;
  }

  /* TIMELINE SLIDER */
  .playerbar-timeline-slider { flex: 1; }
    .playerbar-timeline-slider > div {
      height: 6px;
    }

/*\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/*/
/*\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/*/
/*                                                  SLIDERS DISPLAY                                                                                 */
/*\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/*/

.playerbar .noUi-connect { background: var(--base-contrast); }
.playerbar .noUi-target {
  background: transparent;
  border: 1px solid var(--base-contrast-transparent);
  box-shadow: none;
}
.playerbar .noUi-handle {
  background: var(--base-contrast);
  box-shadow: none;
  border-radius: 100%;
  &:hover
  box-shadow: none;
  border: var(--base) solid 2px;
  width: 20px;
  height: 20px;
}
.playerbar .noUi-handle:hover { background: var(--hover); }
.playerbar .noUi-handle:after, .playerbar .noUi-handle:before { content: none; }
.playerbar .noUi-horizontal .noUi-handle { top: -8px; right: -13px; }
.playerbar .noUi-vertical .noUi-handle { left: -14px; top: -13px; }

/* CUSTOMIZE TICKS AND PIPS TO DISPLAY CHAPTERS */
.playerbar .noUi-pips-horizontal {
  padding: 0;
  margin-top: -10px;
  color: var(--hover);
  height: unset;
}
.playerbar .noUi-marker-normal { display: none; }
.playerbar .noUi-marker-large {
  background: var(--hover);
  width: 8px;
  cursor: pointer;
}
/* hide original tick title */
.playerbar .noUi-value-large { display: none; }
/* display another one instead */
.playerbar .noUi-marker-large .playerbar-chapter-title {
  display: none;
  transform: rotate(-90deg);
  transform-origin: top left;
  text-align: left;
  margin-top: -10px;
  margin-left: -5px;
  cursor: pointer;
  width: 200px;
}
.playerbar .noUi-marker-large:hover .playerbar-chapter-title { display: block; }

/*\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/*/
/*\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/*/
