
:root {

  /* --base is the default color of backgrounds */
  /* --baseContrast will be applied to texts having --base background */
  --base: #000;
  --base-transparent: #000B;
  --base-transparent-more: #0003;
  --base-transparent-less: #000C;
  --base-contrast: #FFF;
  --base-contrast-transparent: #FFF8;

  /* --primary is the color of buttons, and al elements you want to be nicely contrasted with base in page */
  /* --primary-contrast will be applied to texts having --primary background */
  /* --primary: #08FFBC; // should have fare contrast with --base and --secondary
  /* --primary-transparent: #08FFBC88;
  --primary-transparent-more: #08FFBC33;
  --primary-transparent-less: #08FFBCCC;
  --primary-contrast: black; */

  /* --secondary is an alternative to --base when you want a background closer to --primary, but still keep some distance with --primary color, since some --primary buttons should contrast with it */
  /* --secondary-contrast will be applied to texts having --secondary background */
  /* --secondary: #DDDDDD; // rgba(163, 239, 216, 0.99)
  /* --secondary-transparent: #DDDDDD88;
  --secondary-transparent-more: #DDDDDD33;
  --secondary-transparent-less: #DDDDDDCC;
  --secondary-contrast: black; */

  /* --hover is the color that will be applied to an element that is interractive when you hover over it */
  /* --hover-contrast will be applied to texts having --hover background */
  --hover: #FF0000; /* should have fare contrast with --base, --secondary and --selected */
  --hover-contrast: black;

  /* --selected well... is for selected elements :) */
  /* --selected-contrast will be applied to texts having --selected background */
  /* --selected: #FFD703;  // rgba(253, 4, 132, 0.62) rgba(206, 95, 14, 0.60)
  --selected-transparent: #FFD70388;
  --selected-transparent-more: #FFD70333;
  --selected-transparent-less: #FFD703CC;
  --selected-contrast: black; */

  /* font */
  /* --basefont-light: Lato-Light; */
  /* --basefont: Lato; */
  /* --basefont-bold: Lato-Bold; */

  /* height of the video player */
  --player-height: 55px;
}
