
/* containers */
.watch-video_container {
  display: none;
}
.watch-video_container.current {
  display: block;
}

/* videos */
.watch-video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* button */
.watch-button {
  border-radius: 100%;
  position: absolute;
  left: 5px;
  bottom: 60px;
  z-index: 99;
}
.watch-button:hover {
  outline: 2px solid var(--hover); /* make border a bit further? */
}

/* button in normal mode */
.watch-button.fast { outline: 2px solid var(--hover); } /* make border a bit further? */
.watch-button.fast:hover { outline: none }

/* previoux page button */
.watch-previous_page_button {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  /* make it a triangle (thanks http://bennettfeely.com/clippy/ :)) */
  clip-path: polygon(0 0, 0% 100%, 100% 0);
};
